# Test wave files
*.wav

# Flex generated output
lex.yy.c

# Bison generated output
sprola.tab.*
sprola.output

# Sprola executable
sprola

# Sprola default output
default_output.ll

# Example lv2 projects in C
amp.c

# LV2 examples
lv2/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
